@model consumoJuegosApiSteam.Models.Data

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-3">@Model.name</div>
        <div class="col-3">@Model.precio.final</div>
    </div>
</div>
